
.form {
	align-self: center;
  }


.form__input {
	width: 10rem;
	height: 2rem;
	padding: 0 1.25rem;
	border: 0.5px solid black;
	border-radius: 2px;
	margin: 0.25rem auto 0.625rem auto;
	transition: all 250ms;
	font-size: 1rem;
}


.form__label {
	font-size: 0.95rem;
	color: rgb(54, 53, 53);
	display: block;
}