div.wrapper	{
	width: 50%;
	color: black;
	font-size: 1rem;
	font-weight: 200;
}

.main-area {
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.06);
	color: #222;
	margin: auto -20px;
}

.form-container	{
	width: 40%;
	margin: auto;
	margin-left: 10px;
	/* text-align: center; */

}

.form-unit	{
	width: 100%;
}

.result-container {
	width: 60%;
	margin: auto;
}

.result-box  {
	/* border: 2px dashed rgb(123, 123, 123); */
	border-radius: 20px;
	padding: 10px auto;
	text-align: center;
}

div.result__plot	{
	padding: auto;
}

.action-button {
	background: #3782cd;
	font-size: 1rem;
	font-weight: 400;
	height: 0.8rm;
	width: 2rm;
	margin: auto;
	color: white;
	border: 2px solid rgb(192, 192, 192);
	border-radius:4px;
	padding: 8px;
}

.action-button:hover {
	background: #56a1eb;
}

.action-button:active {
	background: #256db5;
	border: 1px solid rgb(192, 192, 192);
	padding: 10px;
}